:root {
  --hue: 285;

  --title-color: (163, 2, 168);

  --text-color: hsl(0 0% 21%);
  --text-color-light: hsl(0 8% 98%);
}

.header {
  align-items: center;
  background: #1a1a40;
  display: flex;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
.header img {
  width: 10rem;
  padding-top: 1rem;
}
.header .logo {
  display: flex;
  align-items: center;
  font-size: 1.875rem;
  color: #fce4ff;
}

.menu__lista {
  display: flex;
  margin-right: 10rem;
}
.menu__link {
  font-size: 1.25rem;
  color: var(--text-color-light);
  margin-right: 1.25rem;
  text-decoration: none;
  text-transform: capitalize;
}

.menu__link.ativo {
  color: #333333;
  font-weight: bold;
}

.menu__link:hover {
  text-decoration: underline;
}
.logo__img {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.logo__img.scroll {
  display: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
