:root {
  touch-action: pan-x pan-y;
  height: 100%;
}

html {
  font-size: 1rem;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 0.5rem;
}
html::-webkit-scrollbar-track {
  background: #1a1a40;
}
html::-webkit-scrollbar-thumb {
  background: navy;
  border-radius: 5rem;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

.btn {
  display: inline-flex;
  height: 3rem;
  color: white;
  background: #270082;
  padding: 0 2rem;
  border-radius: 0.25rem;
  align-items: center;
  font-size: 1.2rem;

  transition: 0.3s;
}
.btn:hover {
  background: #7a0bc0;
  font-size: 1.25rem;
}
.divider {
  height: 1px;
  background: linear-gradient(to right, #fce4ff, #fa58b6);
}
